<div class="barrasuperior"></div>
<div class="menulateral">
    <div class="perfil">
        <img id="logodashboard" src="assets/img/logo.png" alt="User Avatar">
        <h3>APP</h3>
    </div>
    <hr>
    <div class="userlog">
        <img class="imguserlogo" src="assets/img/user.png">
        <div class="lbladm">Ricardo</div>
        <div class="lbladm">Admin</div>
    </div>
    <hr>
    <nav>
        <ul class="nav-list">
            <li routerLink="/home"><i class="fas fa-home all.min.css"></i> Home</li>
            <li routerLink="/usuarios"><i class="fas fa-briefcase"></i>Usuarios</li>
            <li routerLink="/productos"><i class="fas fa-tasks"></i>Productos</li>
            <hr class="separador">
            <li routerLink="/login"><i class="fas fa-cogs"></i>Logout</li>
        </ul>
    </nav>
</div>
