<app-header></app-header>
    <div class="fondo">
        <div class="container">
                <div class="registro">
                    <button type="button" class="btn-iconos">
                        <a id="enlace" routerLink="/registro">
                            <img id="registro" src="/assets/img/user.png">
                        </a>
                        <label class="labellogin">Registro</label>
                    </button>
                </div>
                <div class="login">
                    <button type="button" class="btn-iconos">
                        <a id="enlace" routerLink="/login">
                            <img id="login" src="/assets/img/user.png">
                        </a>
                        <label class="labellogin">login</label>
                    </button>
                </div>
        </div>
    </div>
<app-footer></app-footer>