<app-header></app-header>
<div class="forcontenedor">
    <h2>Iniciar Sección</h2>
    <p>Por favor, Ingrese la siguiente información:</p>
    <div class="formularioregistro">
        <div class="input-group">
            <input type="email" id="email"  required  [(ngModel)]="email">
            <label for="email">Correo electrónico</label>
        </div>
        <div class="input-group">
            <input type="password" id="password"  required [(ngModel)]="password">
            <label for="password">Contraseña</label>
        </div>
        <button (click)="Login()" class="cuenta" type="submit">INICIAR SECCIÓN</button>
    </div>
    <p class="login-link">¿No tienes una cuenta? <a routerLink="/registro">Registrate</a></p>
</div>
<app-footer></app-footer>