<app-menulateral></app-menulateral>
<div class="ventana">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datos">
                <td (click)="editarRegistro(item._id)">{{ item.nombre }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.telefono }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btadd">
        <button (click)="abrirModal()" type="button" class="btn-add">
            <a id="addenlace" routerLink="/buscar">
                <img id="addimg" src="assets/img/add.png">
            </a>
        </button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" id="nombre" required [(ngModel)]="nombre">
                    
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input class="form-control" type="email" id="email"  required  [(ngModel)]="email" [disabled]="idseleccionado != ''">
                    
                </div>
                <div class="form-group">
                    <label for="edad">Edad</label>
                    <input class="form-control" type="number" id="edad" required [(ngModel)]="edad">
                    
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input class="form-control" type="text" id="telefono" required [(ngModel)]="telefono">
                    
                </div>
                <div class="form-group" *ngIf="idseleccionado == ''">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password"  required [(ngModel)]="password">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="Guardar()" *ngIf="idseleccionado == ''">Guardar</button>
                <button type="button" class="btn btn-dark" (click)="Actualizar()" *ngIf="idseleccionado != ''">Actualizar</button>
                <button type="button" class="btn btn-dark" (click)="Eliminar()" *ngIf="idseleccionado != ''">Eliminar</button>
            </div>
        </div>
    </div>
</div>

