<footer class="footer">
    <div class="container">
        <div>
            <img  class="footerimg" src="assets/img/footer.png">
        </div>
        <hr>
        <div class="footerinfo">
            <div class="footer__contact">
                <h3>Contáctenos</h3>
                <p><i class="correo"></i> quejuan52&#64;gmail.com</p>
                <p><i class="telefono"></i> Tel: 3044690312</p>
                <p><i class="github"></i> GitHub: <a class="link" href="https://github.com/quejuan52" target="_blank">quejuan52</a></p>
            </div>
            <div class="footerCreditos">
                <p>© 2024 Derechos de Autor: <strong>Ricardo Ortega</strong></p>
            </div>
        </div>
    </div>
</footer>
